{% extends 'base.html.twig' %}

{%  block main %}
    <div class="jumbotron">
        Civitatibus post descriptione Commagena clementer Nino prima prima dictum clementer vetere ut Hierapoli civitatibus civitatibus Nino descriptione dictum est adsurgit quam discrevimus Nino vetere Osdroenam quam Samosata inlustris descriptione prima.
    </div>
{%  endblock %}